@import "colors";
@mixin paragraph {
    padding-top: 200px;
    text-align: center;
}
//Global
* {
    color: $color-text;
    font-size: 1.2rem;
}

.container {
    background-color: $color-global;
    border: 1px solid #000;
    display: flex;
    height: 500px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;
    width: 50%;
    
    .left {
        background-color: $color-background1;
        height: 100%;
        width: 69%;
        position: relative;
    }

    .right {
        background-color: $color-background2;
        height: 100%;
        position: relative;
        width: 29%;

        .button {
            background-color: $color-button;
            color: $color-background1;
            border: 0;
            border-radius: 10px;
            cursor: pointer;
            width: 8em;
            height: 2.5em;
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5em 2em;

            //this is to center content vertically
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -120%);
        }
    }
    p {
        @include paragraph;
    }

}